# Node modules
Backend/node_modules
frontend/node_modules

# Environment variables
Backend/.env
frontend/.env.local

# Next.js
frontend/.next
frontend/out

# Logs
*.log

# OS files
.DS_Store
Thumbs.db